extends layout

block content
	.section.product-header
		.container
				.columns
					.column
						span.title.is-3 Favorite Books
						|           
						span.title.is-3.has-text-muted &nbsp;|&nbsp;
						|   
						span.title.is-4.has-text-muted= favYear
		|   
	.section.viewBook
		.container
			.columns
				.column.is-3
					.component
						ul.align
							// Book 1
							li
								figure.book
									// Front
									ul.hardcover_front
										li
											img(src='#{book.imageUrl}', alt='',)#imgBook
											span.ribbon.bestseller Nº1
										li
									// Pages
									ul.page
										li
										li
											a.btn(href='/books/#{book._id}') View More
										li
										li
										li
									// Back
									ul.hardcover_back
										li
										li
									ul.book_spine
										li
										li
				|         
				.column.is-8.is-offset-1
					.title.is-2= book.title
					|           
					p.title.is-3.has-text-muted= book.price
					|           
					hr
					|           
					br
					|           
					p= book.description
					|           
					br
					|           
					br
					|           
					p            
						a.button.is-primary(href='/books/edit/#{book._id}') Edit Book
						|             &nbsp; &nbsp; &nbsp;
						|             
						a.button.is-danger(href='/books/delete/#{book._id}') Delete
					|           
					br
					|           
					table.table
						tbody
							tr
								td.has-text-right
									strong Amazon Link
								|                 
								td= book.link
							|   
							tr
								td.has-text-right
									strong Year Published
								|                 
								td= book.published
							|               
							tr
								td.has-text-right
									strong Date Created
								|   
								- var date = month+" "+book.createDate.getDate()+", "+book.createDate.getFullYear()          
								td= date
							|               
							tr
								td.has-text-right
									strong Date Updated
								|  
								- var update = Math.ceil((Date.now()- book.createDate)/86400000)
								- var day = update>1?'days':'day'               
								td #{update} #{day} ago
							|               
							tr
				