extends layout

block content
	section#newBody
		.hero-body.content
			form#myForm(enctype='multipart/form-data')
				.container
					.section.new-header
						.container
							.columns
								.column
									span.title.is-3.is-white Favorite Books
									|           
									span.title.is-3.has-text-muted &nbsp;|&nbsp;
									|   
									span.title.is-4.has-text-muted Edit Book
						|  
					.section.newBook 
						.container
							.columns
								.column.is-auto
									.container
										.photo_submit-container
											.photo_submit-container
												label.photo_submit.js-photo_submit1
													input.photo_submit-input.js-photo_submit-input#bookImg(type='file', accept='image/*' name='bookImage')
													|             
													span.photo_submit-plus
													|             
													span.photo_submit-uploadLabel Upload photo
													|             
													span.photo_submit-delete

								.column.is-8
									.box.content.boxColor
										input.input#imageUrl(type='hidden', name='imageUrl' value="#{book.imageUrl}")
										h4.label Name:
										p.control
											input.input#title(type='text', placeholder='Book Title' name='title' value='#{book.title}')
										| 
										h4.label Author:              
										p.control
											input.input#author(type='text', placeholder='Author' name='author' value='#{book.author}')
										|   
										h4.label Year Published:                 
										p.control
											input.input#published(type='text', placeholder='Year Published' name='published' value='#{book.published}')
										| 
										h4.label Amazon Link:  
										p.control
											input.input#link(type='text', placeholder='Amazon Link' name='link' value='#{book.link}')
										| 
										h4.label Kindle Price:  
										p.control
											input.input#price(type='text', placeholder='Kindle Price' name='price' value='#{book.price}')
										|  
										hr
										h4.label Book Description:  
										p.control
											textarea.textarea.is-hovered#description(placeholder='Book Description' name='description' value='')= book.description
										|               
										hr
										|               
										p.control
											button.button.is-primary#editButton Save 
											|  &nbsp; &nbsp; &nbsp;
											|                         
											button.button.is-default Cancel
								
