extends layout

block content
	section#newBody
		.hero-body.content
			form#myForm(enctype='multipart/form-data')
				.container
					.section.new-header
						.container
							.columns
								.column
									span.title.is-3.is-white Favorite Books
									|           
									span.title.is-3.has-text-muted &nbsp;|&nbsp;
									|   
									span.title.is-4.has-text-muted Edit Book
						|  
					.section.newBook 
						.container
							.columns
								.column.is-auto
									.container
										.photo_submit-container
											.photo_submit-container
												label.photo_submit.js-photo_submit1
													input.photo_submit-input.js-photo_submit-input#bookImg(type='file', accept='image/*' name='bookImage')
													|             
													span.photo_submit-plus
													|             
													span.photo_submit-uploadLabel Upload photo
													|             
													span.photo_submit-delete

								.column.is-8
									.box.content.boxColor
										input.input#imageUrl(type='hidden', name='imageUrl' value=book.imageUrl)
										//input.input(type='hidden', name='pre__published__suff')
										.row
											.input-field.col.s12
												input#title.validate(type='text', name='title', value='#{book.title}' required )
												label#titleLabel(for='title') Book Title *
										.row
											.input-field.col.s12
												input#author.validate(type='text', name='author', value='#{book.author}' required)
												label#authorLabel(for='author') Author *
										.row
											.input-field.col.s6
												input#published(type='text' class='datepicker', name='published', value='#{book.published}' required)
												label#publishedLabel(for='published') Year Published *
											.input-field.col.s6
												input#price.validate(type='text', name='price', value='#{book.price}' required)
												label#priceLabel(for='price') Kindle Price *
										.row
											.input-field.col.s12
												input#link.validate(type='url', name='link', value='#{book.link}' required)
												label#linkLabel(for='link') Amazon Link *
										.row
											.input-field.col.s12
												textarea#description.materialize-textarea(name='description' required)= book.description
												label#descriptionLabel(for='description') Book Description

										|               
										p.control
											button.button.is-primary#editButton Save 
											|  &nbsp; &nbsp; &nbsp;
											|                         
											button.button.is-default#back Cancel
								
